# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Android related
.gradle/
**/android/.gradle/
**/android/build/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
/android/app/debug
/android/app/profile
/android/app/release

# Cloudflare / Worker
**/.wrangler/

# Keystore and signing files
*.jks
*.keystore
**/android/key.properties

# Secrets and local environment files
**/.env
**/.dev.vars

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json